.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.submit-button {
  background: #333;
  color: #EEE;
  padding: 5px 10px;
  margin-left: 10px;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  padding-inline-start: 0;
}

.books-list li {
  width: 45%;
  margin: 2px 0;

}

.book {
  border: 8px solid #555;
  border-radius: 18px;
  min-width: 150px;
  height: 95%;
}

.book-image {
  min-width: 150px;
  min-height: 250px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
